<main>
    <div id="title">
        <img src="assets\frog.png" /> <span>FoalBoard</span>
    </div>

    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('halala')">HALALALA</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('mam5')">ŁAAAAA MAM 5</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('lololo')">Łeee lolololo</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('bijeMnie')">Bije mnie</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('blyblybly')">Bly bly cyp cyp</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('noleee')">No łeee</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('walen')">łełełełełełe</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('pajac')">Pajac gumowy</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('sracz')">Do sracza</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('lylyly')">lylyly</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('lupa')">Do lupy</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('aio')">aiiiooo</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" (click)="playSound('dupakupa')">Dupa kupa</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary">IMAO</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary">NOTA BENE</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary">IIIIIII</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary">JO CIE PIPCA</button></mat-grid-tile>
    </mat-grid-list>
</main>